{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/index/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/index/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index/demo.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index/index.css" %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
